.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    bgSoft: #f6f3f3;
    padding: 10px 20px;
    height: 30px;
    border-bottom: 1px solid ;
    position: sticky;
    top:0;
    background-color: rgb(193,190,255);
    z-index:999;
    .left{
        display: flex;
        align-items:center;
        gap:20px;
        P{
            font-size: 20px;
            font-family:cursive ;
            textColorSoft:#555;
            font-weight:bold;
            color: darkblue;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .search{
            display: flex;
            align-items: center;
            gap:5px;
            border:1.5px solid;
            border-radius: 5px;
            background-color: white;
            input{
                border:none;
                width: 170px;
                background-color: transparent;
            }
        }
        
    }
    .right{
        display: flex;
        align-items: center;
        gap:20px;
        .user{
            display: flex;
            align-items: center;
            gap:5px;
            font-weight: 500;
            cursor:pointer;
        }
       
    }


}