.options-container {
    border: 1px solid #252323;
    position: absolute;
    background-color:rgb(153, 205, 205);
    // border-radius: 10px;
    position: absolute;
    top: 48px;  
    right: 10px;
    width: 200px;
    height: 150px;
    padding: none;
    
    
    ul{
        list-style: none; 
        li{
            padding: 2px;
           border-radius: 1px;
         //border-bottom: 0.5px ;
           transition: transform 0.3s ease-out;
           color: black;
           &:hover {
            transform: scale(1.05);
            color:red
             
          }

        }
       
    }
  }