.options-container {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    background-color:rgb(193,190,255);
    border-radius: 10px;
    /* Add styling for your options container */
    ul{
        li{
         
         border-radius: 5px;

        }

    }
  }